<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.collagehelper">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.seller.main.view.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.seller.customer.CustomerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.seller.order.OrderActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.seller.goods.GoodsActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.seller.selectcustomer.SelectCustomerActivity" />
        <activity android:name=".activity.welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.login.view.LoginActivity" />
        <activity android:name=".activity.regist.view.RegistActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.collagehelper.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.seller.goods.managegoods.ManageGoodsActivity" />
        <activity android:name=".activity.seller.goods.addgoods.view.AddGoodsActivity" />
        <activity android:name=".activity.seller.goods.seegoods.view.SeeGoodsActivity" />
        <activity android:name=".activity.seller.goods.goodsdetails.GoodsDetailsActivity" />
        <activity android:name=".activity.seller.goods.updategoods.view.UpdateGoodsActivity" />
        <activity
            android:name=".activity.customer.main.view.Main2Activity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.customer.searchgoodsbyname.view.SearchGoodsByNameActivity" />
        <activity android:name=".activity.customer.goodsdetails.view.GoodsDetailActivity" />
        <activity android:name=".activity.customer.sellerdetails.view.SellerDetailsActivity" />
        <activity android:name=".activity.customer.order.view.OrderActivity"></activity>
    </application>

</manifest>